stages:
  - dependancies
  - test

dependancies:
  stage: dependancies
  tags:
    - shell
  script:
    - composer update
    - ls -la 
  artifacts:
    paths:
      - dev
      
test:
  stage: test
  tags:
    - shell
  script:
    - cd dev
    - vendor/bin/phpunit

