stages:
  - dependancies
  - test
variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA

dependancies:
  stage: dependancies
  tags:
    - shell
  script:
      - composer update || true
  artifacts:
    paths:
      - dev
      
test:
  stage: test
  tags:
    - shell
  script:
    - cd dev
    - vendor/bin/phpunit

