stages:
  - dep
  - test

dep:
  stage: dep
  tags:
    - shell
  script:
    - composer update || true
  artifacts:
    untracked: true
    paths:
      - .
      
test:
  stage: test
  tags:
    - shell
  script:
    - ls -la
    - ./vendor/bin/phpunit
  dependencies:
    - dep
