stages:
  - dep
  - test
  - build
  - deploy

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
  RECETTE_DIR: /home/vagrant/recette
  PRODUCTION_DIR: /home/vagrant/production
  BD_DIR: /app/myapp/data

dep:
  stage: dep
  tags:
    - shell
  script:
    - composer update || true
  artifacts:
    untracked: true
    paths:
      - .
      
test:
  stage: test
  tags:
    - shell
  script:
   - php bin/phpunit

build:
  stage: build
  tags:
    - shell
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

deploy_recette:
  stage: deploy 
  tags:
    - shell
  script:
    - ssh vagrant@recette "docker run -d --restart always -v $RECETTE_DIR:$BD_DIR -p 8000:8000 --name recette_new $IMAGE_TAG" || true
    - ssh vagrant@recette "docker stop recette && docker rm recette" || true
    - ssh vagrant@recette "docker start recette_new && docker rename recette_new recette"
    - ssh vagrant@recette "docker system prune -f -a --volumes" || true
  environment:
    name: recette
    url: http://localhost:8010/

deploy_production:
  stage: deploy
  tags:
    - shell
  script:
     - ssh vagrant@production "docker run -d --restart always -v $PRODUCTION_DIR:$BD_DIR -p 8000:8000 --name prod_new $IMAGE_TAG" || true
    - ssh vagrant@production "docker stop prod && docker rm prod" || true
    - ssh vagrant@production "docker start prod_new && docker rename prod_new prod"
    - ssh vagrant@production "docker system prune -f -a --volumes" || true
  environment:
    name: production
    url: http://localhost:8081/
  only:
    - master
  when: manual

