stages:
  - dependancies

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA

dependancies:
  stage: dependancies
  tags:
    - shell
  script:
      - composer require symfony/http-kernel:4.4.13
      - composer update
  artifacts:
    paths:
      - composer_deps
      
        
